body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.book-details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.book-cover {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
}

.cover-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-info {
    flex: 2;
    max-width: 600px;
}

.book-info h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.book-info p {
    font-size: 1.1em;
    margin: 10px 0;
}

.book-info strong {
    font-weight: bold;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}
.ratingValue, .ratingValue:hover{
    background-color: darkseagreen;
}

