<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Catalog</title>
    <link rel="stylesheet" href="/catalog.css">
</head>
<body>
<h1>Books Catalog</h1>
<div class="catalog">
    <div th:each="book : ${books}" class="book-item">
        <a th:href="@{/books/book/{id}(id=${book.id})}">
            <img th:src="'data:image/jpeg;base64,' + ${book.imageCover}" alt="Book Cover" class="book-cover" />
            <div th:text="${book.title}" class="book-title"></div>
        </a>
    </div>
</div>
</body>
</html>